@model Models.EF.Account

@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ShopBike.Models.Cart cart = (ShopBike.Models.Cart)Session["Cart"];
}
@section Css{
    <link href="~/Assets/Client/css/payment.css" rel="stylesheet" />
}
@using (Html.BeginForm("Payment", "Cart", new { total = cart.Total() }, FormMethod.Post, new { @Name = "myform", @onsubmit = "return validateForm();" }))
{
    <div class="payment" style="height:49vh; padding-top: 20px">
        <p style="font-size: 25px">Thanh toán</p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.FullName, "Họ và tên", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, "Địa chỉ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.Password)

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, "Số điện thoại", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.Role)
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thanh toán" class="btn btn-blue" />
            </div>
        </div>
    </div>
}
@section ValidateScripts{
    <script type="text/javascript">
        function validateForm() {
            var name = document.myform.FullName.value;
            var email = document.myform.Email.value;
            var phonenumber = document.myform.PhoneNumber.value;
            var address = document.myform.Address.value;
            if (name == "") {
                document.myform.FullName.focus();
                alert("Họ và tên không được để trống!!");
                return false;
            }
            if (email == "") {
                alert("Email không được để trống!!");
                document.myform.Email.focus();
                return false;
            }
            if (phonenumber == "") {
                alert("Số điện thoại không được để trống!!");
                document.myform.PhoneNumber.focus();
                return false;
            }
            if (address == "") {
                alert("Địa chỉ không được để trống!!");
                document.myform.Address.focus();
                return false;
            }
            return true;
        }
    </script>
}