@model Models.EF.Account

@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Assets/Client/css/login.css">
    <title>Đăng ký</title>
</head>
<body>
    <section>
        <div class="container">
            <div class="user signupBx" style="pointer-events: auto">
                <div class="frmBx" style="top: 0">
                    @using (Html.BeginForm("Register", "Register", FormMethod.Post, new { @Name = "myform2", @onsubmit = "return registerForm();" }))
                    {
                        @Html.AntiForgeryToken()
                        <h2>Đăng ký</h2>
                        @Html.ValidationSummary(false, "", new { @class = "text-danger", @style = "color: red" }, "error")
                        @Html.EditorFor(model => model.FullName, new { @Name = "username", htmlAttributes = new { placeholder = "Họ và tên" } })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @placeholder = "Email", @Name = "email" } })
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @placeholder = "SDT", @Name = "phonenumber" } })
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @placeholder = "Địa chỉ", @Name = "address" } })
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Mật khẩu", type = "password" }, @Name = "createpass" })
                        <input type="password" name="confirmpass" id="" placeholder="Nhập lại mật khẩu">
                        <input type="submit" value="Đăng ký" />
                        <div class="signup">Đã có tài khoản? <a href="/Login">Đăng nhập</a></div>}
                </div>
                <div class="imgBx" style="top: 0">
                    <img src="~/Assets/Admin/image/singup.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="~/Assets/Admin/js/mainLogin.js"></script>
    <script type="text/javascript">
        function registerForm() {
            var name = document.myform2.FullName.value;
            var email = document.myform2.email.value;
            var phonenumber = document.myform2.phonenumber.value;
            var address = document.myform2.address.value;
            var password = document.myform2.Password.value;
            var confirmpass = document.myform2.confirmpass.value;
            if (name == "") {
                document.myform2.FullName.focus();
                alert("Họ và tên không được để trống!!");
                return false;
            }
            if (email == "") {
                alert("Email không được để trống!!");
                document.myform2.email.focus();
                return false;
            }
            if (phonenumber == "") {
                alert("Số điện thoại không được để trống!!");
                document.myform2.phonenumber.focus();
                return false;
            }
            if (address == "") {
                alert("Địa chỉ không được để trống!!");
                document.myform2.address.focus();
                return false;
            }
            if (password == "") {
                alert("Mật khẩu không được để trống!!");
                document.myform2.password.focus();
                return false;
            }
            if (password.Length < 8) {
                alert("Mật khẩu không được ít hơn 8 kí tự!!");
                document.myform2.password.focus();
                return false;
            }
            if (confirmpass == "") {
                alert("Xác nhận mật khẩu!!");
                document.myform2.confirmpass.focus();
                return false;
            }
            if (confirmpass != password) {
                alert("Mật khẩu phải trùng nhau!!");
                document.myform2.confirmpass.focus();
                return false;
            }
            return true;
        }
    </script>
</body>
</html>