@model PagedList.IPagedList<Models.EF.OrderDetail>
@using PagedList.Mvc
@{ ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }

<div class="right__title">Chi tiết hóa đơn mã: @ViewBag.OrderId</div>
<div class="right__table">
<a class="btn btn-default" href="/Admin/OrderDetail/Create">Thêm chi tiết sản phẩm</a>
<div>
    <br />
</div>
    <div class="right__tableWrapper">
        <table>
            <thead>
                <tr>
                    <th>Mã đơn</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng</th>
                    <th colspan="2"></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
    <tr>
        <td>@item.OrderID</td>
        <td>@item.Product.Name</td>
        <td>@item.Quantity</td>
        <td class="right__iconTable"><a href="@Url.Action("Edit","OrderDetail", new { orderId = item.OrderID, productId = item.ProductID})">Sửa</a></td>
        <td class="right__iconTable">
            @Ajax.ActionLink("Xóa", "Delete", new { orderId = item.OrderID, productId = item.ProductID },
                                                                  new AjaxOptions
                                                                  {
                                                                      Confirm = "Do you want to delete this order detail?",
                                                                      OnComplete = "$(this).closest('tr').remove()",
                                                                      HttpMethod = "Delete"
                                                                  }, new { })
        </td>
    </tr>}
            </tbody>
        </table>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @ViewBag.searchString }), new PagedListRenderOptions
   {
       UlElementClasses = new string[] { "paged_list_ul" },
       LiElementClasses = new string[] { "paged_list_li" },
   })
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}